@page
@model WebbShop.Pages.Admin.Management.CreateProductModel
@{
    ViewData["Title"] = "Create new";
}
<form method="post" asp-route-id="@Model.Id" enctype="multipart/form-data" class="forms">
    <div class="form-group">
        <label for="exampleInputEmail1" class="form-label font-weight-bold">Title</label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Name" type="text" class="name form-control">

        <label for="exampleInputEmail1" class="form-label mt-4 font-weight-bold">Description</label>
        <span asp-validation-for="Description" class="text-danger"></span>
        <textarea asp-for="Description" textarea cols="80" rows="5" class="form-control"></textarea>

        <label for="exampleInputEmail1" class="form-label mt-4 font-weight-bold">Price</label>
        <span asp-validation-for="Price" class="text-danger"></span>
        <input asp-for="Price" class="form-control">

        <label for="exampleInputEmail1" class="form-label mt-4 font-weight-bold">Category</label>
        <span asp-validation-for="Category" class="text-danger"></span>
        <select asp-for="SelectedCategoryId" class="form-select form-control mt-4" aria-label="Default select example" asp-items="@Model.Category">
        </select>

        <span asp-validation-for="Bild" class="text-danger"></span>
        <input asp-for="Bild" class="form-control" style="padding:3px;" type="file" id="formFile" />

        <button type="submit" class="btn btn-success mt-4">Save</button>
        <button type="button" Onclick="CancelClicked()" class="btn btn-primary mt-4">Cancel</button>
    </div>
</form>
