@page
@model WebbShop.Pages.Account.LoginModel
@{
}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h1>Login</h1>
            <span class="text-danger">@Html.ValidationMessage("failed")</span>
            <form method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    <input asp-for="EmailAddress" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <span asp-validation-for="Rememberme" class="text-danger"></span>
                    <input asp-for="Rememberme" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">sign in</button>
            </form>
        </div>
    </div>
</div>
