@page
@model WebbShop.Pages.Account.LoginModel
@{
}
<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <span asp-validation-for="Model.EmailAddress" class="text-danger"></span>
        <input asp-for="Model.EmailAddress" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <span asp-validation-for="Model.Password" class="text-danger"></span>
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="Model.Password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <span asp-validation-for="Model.Rememberme" class="text-danger"></span>
        <input asp-for="Model.Rememberme" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">sign in</button>
</form>
