@page
@model WebbShop.Pages.Account.LoginModel
@{
}
@*<div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <h1>Login</h1>
                <span class="text-danger">@Html.ValidationMessage("failed")</span>
                <form method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        <input asp-for="EmailAddress" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <span asp-validation-for="Rememberme" class="text-danger"></span>
                        <input asp-for="Rememberme" type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">sign in</button>
                </form>
                <a asp-page="/Register">R</a>
            </div>
        </div>
    </div>*@
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <div class="bg-transparent">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <span class="text-danger">@Html.ValidationMessage("Error")</span>
            <form method="post">
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input asp-for="EmailAddress" class="form-control" placeholder="Email address">
                </div> <!-- form-group// -->
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="Password" class="form-control" placeholder="Create password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? <a asp-page="/Account/Login">Create new account</a> </p>
                <p class="text-center">Forget password?<a asp-page="/Account/Forgetpassword">Reset</a></p>
            </form>
        </article>
    </div> <!-- card.// -->
</div>
