@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <div class="bg-transparent">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">@ViewData["Title"]</h4>
            <p class="text-center">To reset password you have to click on the link that we have send it to you.</p>
            <p>
                Please check your email to reset your password.
            </p>
        </article>
    </div> <!-- card.// -->
</div>

@*<h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>*@

