@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


        <div class="container">
            <div class="bg-transparent">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Confirm account</h4>
                    <p class="text-center">Your have to confirm your account to access to login to our application.</p>
                    <p class="divider-text">
                        <span class="bg-light">OR</span>
                    </p>
                    <p>
                        We have send a verify email to @Model.Email.Length Please confirm email by click on the link or click here: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </p>
                </article>
            </div> <!-- card.// -->
        </div>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
