@page
@model WebbShop.Pages.AccessDeniedModel
@{
}
<h1 class="text-danger">Sorry.....! You do not have permission to access this page!</h1>
<h2 class="text-danger">Only Admin have this permission....</h2>
